
  
  .colored:is(:focus, :focus-visible, :active) {
    outline: none;
    box-shadow: 0 0 0 3px #FDBF60, 0 0 0 6px theme("colors.morning");
  }
  
  @media (prefers-reduced-motion: reduce) {
    .colored{
      transition: linear;
    }
  }
           
  .colored {
    background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    display: block;
  }

  .colored:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 